* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #070320;
    color: white;
    padding-top: 33px;
}

.menu {
    display: inline-block;
    list-style: none;
    margin-left: 566px;
}

.menu li {
    display: inline-block;
    margin-left: 88px;
}


button {
    background-color: #D80027;
    border-radius: 6px;
    padding: 11px 28px;
    color: white;
    margin-left: 37px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.title {
    margin-left: 59px;
}

